.titled-pane {
    -fx-pref-width: 50;
    -fx-font-size: 0.75em;
}

.titled-pane *.content {
    -fx-background-color: white;
}

.titled-pane .text-area {
    -fx-border-color: white;
    -fx-background-color: white;
}

.titled-pane .label {
    -fx-border-color: white;
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-style: oblique;
    -fx-font-family: Arial;
}


.titled-pane .title
{
    -fx-background-color: primary-color;
}

.titled-pane:collapsed .title
{
    -fx-background-color: primary-color;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: primary-color;
    -fx-max-width: 100px;
    -fx-font-size: 16px;
}

.titled-pane:expanded .title
{
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
    -fx-font-size: 16px;
}

.titled-pane:expanded .content
{
    -fx-background-radius: 10;
    -fx-font-size: 14px;
}

.titled-pane .title .arrow-button .arrow
{
    -fx-background-color: primary-color; /* hides the arrow*/
    -fx-effect: none;
}
